services:
  api:
    build: .
    ports: 
      - "8080:8080"
    environment:
      - DB_URL=postgres://user:password@db:5432/genapi_db?sslmode=disable
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=genapi_db

volumes:
  postgres_data:
